:root {
  --black-700: #000;
  --blueGradiant: #3b2a9f;

  --primary-50: #6854d6;
  --primary-100: #5141aa;
  --primary-300: #322966;

  --secondary: #fa8305;
  --box_bg: #1c140f;
}

* {
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.bg-back {
  background-color: var(--blueGradiant);
}
.bg-card {
  background-color: var(--primary-100);
}
.bg-card:hover {
  background-color: var(--primary-50);
  box-shadow: 0rem 0rem 2rem var(--primary-300);
}
.bg-sia {
  background-color: var(--primary-300);
}
.bg-tag {
  background-color: var(--primary-50);
}

#comp {
  rotate: 180deg ;
}

.menu_pop {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: var(--primary-100);
  border-radius: 1rem;
  width: 18rem;
  height: 9rem;
}
.info_tex {
  color: white;
  position: relative;
  left: 15px;
  top: 12px;
}